@tailwind base;
@tailwind components;
@tailwind utilities;

/* Archivo global CSS */

.bg-default {
    background-color: #ffffff;
}

.text-default {
    color: #000000;
}

@media (prefers-color-scheme: dark) {
    .bg-default {
        background-color: #131614;
    }

    .text-default {
        color: #ffffff;
    }
}